# APP_NAME=Laravel
# APP_ENV=local
# APP_KEY=base64:MdnCuVn+7J7qDv/SC5d+riW8P1pcr/yMRH++bt1K//4=
# APP_DEBUG=true
# APP_TIMEZONE=UTC
# APP_URL=http://localhost

# APP_LOCALE=en
# APP_FALLBACK_LOCALE=en
# APP_FAKER_LOCALE=en_US

# APP_MAINTENANCE_DRIVER=file
# BCRYPT_ROUNDS=12

# LOG_CHANNEL=stack
# LOG_STACK=single
# LOG_DEPRECATIONS_CHANNEL=null
# LOG_LEVEL=debug

# DB_CONNECTION=mysql
# DB_HOST=localhost
# DB_PORT=3306
# DB_DATABASE=laravel
# DB_USERNAME=root
# DB_PASSWORD=

# SESSION_DRIVER=database
# SESSION_LIFETIME=120
# SESSION_ENCRYPT=false
# SESSION_PATH=/
# SESSION_DOMAIN=null

# BROADCAST_CONNECTION=log
# FILESYSTEM_DISK=local
# QUEUE_CONNECTION=database

# CACHE_STORE=database
# CACHE_PREFIX=

# MEMCACHED_HOST=127.0.0.1

# REDIS_CLIENT=phpredis
# REDIS_HOST=127.0.0.1
# REDIS_PASSWORD=null
# REDIS_PORT=6379

# MAIL_MAILER=smtp
# MAIL_HOST=smtp.gmail.com
# MAIL_PORT=587
# MAIL_USERNAME=corderorafa0@gmail.com
# MAIL_PASSWORD=yuihwdqtlybomgbw
# MAIL_ENCRYPTION=tls
# MAIL_FROM_ADDRESS="corderorafa0@gmail.com"
# MAIL_FROM_NAME="${APP_NAME}"

# GOOGLE_CLIENT_ID=625193309607-d5iu3ubi0jpe8iuno2cuhj6mb5sllno7.apps.googleusercontent.com
# GOOGLE_CLIENT_SECRET=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
# GOOGLE_REDIRECT_URI=http://127.0.0.1:8000/auth/google/callback

# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
# AWS_DEFAULT_REGION=us-east-1
# AWS_BUCKET=
# AWS_USE_PATH_STYLE_ENDPOINT=false

# VITE_APP_NAME="${APP_NAME}"

# # https://site.financialmodelingprep.com/developer/docs/dashboard?tab=apiDetails
# # Solo 250 llamadas a la api por día
# FMP_API_KEY=7EOrekvOLTRRicFcZzouEdBxzfLQHsQR
# # https://www.coingecko.com/en/developers/dashboard/api_key/102313810
# # Solo 10000 llamadas por mes
# COINGECKO_API_KEY=CG-gWXzKeaT1PCLdvUWmCyswsaL
# # https://eodhd.com/cp/dashboard
# # Solo 20 llamadas por dia
# EODHD_API_KEY=6993a81c85bf64.41279587
# # https://api-ninjas.com/profile
# # 3000 llamadas por mes , se renueva cada 29 dias
# API_NINJAS_KEY=iDEEagQqH3d0dEyiLr3k9Uwv9hTb5CqPupQrZ8GU

# GEMINI_API_KEY=AIzaSyAs8UsUQzxZJYGgN9wfRBRvf47HZ_Cvq-E



# STRIPE_KEY=pk_test_51TIAAaIBEHUTezjRU6o6h0uHdgieCdtWr25GFJTaVeBkSsUxt43TqcedenezzbA85fvrfx7IrWmaO9Gkpn1Dk6P700gbh0Ifov
# STRIPE_SECRET=sk_test_51TIAAaIBEHUTezjRIGALHsDV0TKuzTWQx30hSK34FRUZjyMDaLuFcjKczTpHAtBw0e6ja35obk0DOVCgePqlV3CG00oRGCg8ya
# CASHIER_CURRENCY=eur

# # IDs de Precios de Stripe (Debe crearlos en su Panel de Stripe y copiarlos aquí)
# STRIPE_PRICE_BASIC=price_1TIAKaIBEHUTezjRdvSiXOTx
# STRIPE_PRICE_PRO=price_1TIAL4IBEHUTezjR67JUwyJ0
STRIPE_PRICE_PREMIUM=price_1TIALPIBEHUTezjRz6Ysp3UV



# FUNCIONANDOOOOOOOOOOOOO

APP_NAME=Laravel
APP_ENV=production
APP_KEY=base64:MdnCuVn+7J7qDv/SC5d+riW8P1pcr/yMRH++bt1K//4=
APP_DEBUG=false
APP_TIMEZONE=UTC
APP_URL=http://100.26.143.90
# APP_URL=http://ieslamarisma.net/proyectos/2026/rafaelCordero/anteproyecto

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=fintechpro
# DB_DATABASE=rafaelcordero
DB_USERNAME=root
DB_PASSWORD=root
# DB_USERNAME=rafaelcordero
# DB_PASSWORD=@GAEj!2noi4p2say

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=corderorafa0@gmail.com
MAIL_PASSWORD=yuihwdqtlybomgbw
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="corderorafa0@gmail.com"
MAIL_FROM_NAME="${APP_NAME}"

GOOGLE_CLIENT_ID=625193309607-d5iu3ubi0jpe8iuno2cuhj6mb5sllno7.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=http://127.0.0.1:8000/auth/google/callback

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

# https://site.financialmodelingprep.com/developer/docs/dashboard?tab=apiDetails
# Solo 250 llamadas a la api por día
FMP_API_KEY=7EOrekvOLTRRicFcZzouEdBxzfLQHsQR
# https://www.coingecko.com/en/developers/dashboard/api_key/102313810
# Solo 10000 llamadas por mes
COINGECKO_API_KEY=CG-gWXzKeaT1PCLdvUWmCyswsaL
# https://eodhd.com/cp/dashboard
# Solo 20 llamadas por dia
EODHD_API_KEY=6993a81c85bf64.41279587
# https://api-ninjas.com/profile
# 3000 llamadas por mes , se renueva cada 29 dias
API_NINJAS_KEY=iDEEagQqH3d0dEyiLr3k9Uwv9hTb5CqPupQrZ8GU

GEMINI_API_KEY=AIzaSyAs8UsUQzxZJYGgN9wfRBRvf47HZ_Cvq-E



STRIPE_KEY=pk_test_51TIAAaIBEHUTezjRU6o6h0uHdgieCdtWr25GFJTaVeBkSsUxt43TqcedenezzbA85fvrfx7IrWmaO9Gkpn1Dk6P700gbh0Ifov
STRIPE_SECRET=sk_test_51TIAAaIBEHUTezjRIGALHsDV0TKuzTWQx30hSK34FRUZjyMDaLuFcjKczTpHAtBw0e6ja35obk0DOVCgePqlV3CG00oRGCg8ya
CASHIER_CURRENCY=eur

# IDs de Precios de Stripe (Debe crearlos en su Panel de Stripe y copiarlos aquí)
STRIPE_PRICE_BASIC=price_1TIAKaIBEHUTezjRdvSiXOTx
STRIPE_PRICE_PRO=price_1TIAL4IBEHUTezjR67JUwyJ0
STRIPE_PRICE_PREMIUM=price_1TIALPIBEHUTezjRz6Ysp3UV
